<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Solvr</title>
    <link rel="stylesheet" href="static/style.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    rel="stylesheet"
    />
    <link rel="icon" href="static/logo.ico" type="image/x-icon" />
    <!-- MathLive -->
    <script src="https://unpkg.com/mathlive"></script>
    <!-- Desmos -->
    <script src="https://www.desmos.com/api/v1.6/core.js"></script>
    <script src="https://www.desmos.com/api/v1.7/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
    <script src="{{ url_for('static', filename='js_co/index.js') }}"></script>
  </head>
  <body>
    <div class="layout-container">
      <header class="header">
        <nav class="navbar">
          <div class="logo">
            <img
              src="{{ url_for('static', filename='logo.png') }}"
              alt="Logo"
            />
            <h1>
              <a class="inicio" href="{{ url_for('inicio') }}">
              Solvr
              </a>
            </h1>
          </div>
          <ul class="nav-links">
            <li>
              <a href="{{ url_for('inicio') }}"
                ><i class="fas fa-home"></i> Inicio</a
              >
            </li>
            
            <li class="dropdown">
              <a href="#">
                <i class="fas fa-calculator"></i> Calcular
                <i class="fas fa-chevron-down"></i>
              </a>
              <div class="dropdown-content">
                <a href="{{ url_for('sistemas_ecuaciones') }}">
                  <i class="fas fa-project-diagram"></i> Sistema de ecuaciones
                </a>
                <a href="{{ url_for('raices') }}">
                  <i class="fas fa-square-root-alt"></i> Raíces de una función
                </a>
                <a href="{{ url_for('integracion') }}">
                  <i class="fas fa-chart-area"></i> Integración numérica
                </a>
                <a href="{{ url_for('edo') }}">
                  <i class="fas fa-wave-square"></i> Ecuaciones diferenciales
                </a>
              </div>
            </li>

            <li>
              <a href="{{ url_for('teoria') }}">
                <i class="fas fa-info-circle"></i> Teoría
              </a>
            </li>
            <li>
              <a href="{{ url_for('desarrolladores') }}">
                <i class="fas fa-headset"></i> Contacto
              </a>
            </li>
          </ul>
          <div id="hamburger"><i class="fas fa-bars"></i></div>
        </nav>
      </header>

      <!--------------------------------------------------------------------------------------------------------------------->
      <section class="image-links">
        <a href="{{ url_for('sistemas_ecuaciones') }}">
          <img
            src="{{ url_for('static', filename='3.png') }}"
            alt="Sistema de ecuaciones"
          />
        </a>
        <a href="{{ url_for('raices') }}">
          <img
            src="{{ url_for('static', filename='1.png') }}"
            alt="Raíces de una función"
          />
        </a>
        <a href="{{ url_for('teoria') }}">
          <img src="{{ url_for('static', filename='2.png') }}" alt="Teoría" />
        </a>
      </section>


      <footer>
        <div class="footer-container">
          <div class="footer-section">
            <h3>Sobre Nosotros</h3>
            <p>Somos un equipo de desarrollo de la UCASAL</p>
          </div>

          <div class="footer-section">
            <h3>Enlaces Rápidos</h3>
            <a href="{{ url_for('inicio') }}">Inicio</a>
            <a href="{{ url_for('raices') }}">Calcular</a>
            <a href="{{ url_for('teoria') }}">Teoría</a>
            <a
              href="https://wa.me/5493871234567?text=Hola%2C%20quiero%20hacer%20una%20consulta"
              target="_blank"
              >Contacto</a
            >
          </div>

          <div class="footer-section">
            <h3>Redes Sociales</h3>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>

        <div class="footer-bottom">
          &copy; 2025 <strong>Solvr</strong>. Todos los derechos reservados.
        </div>
      </footer>
    </div>
    <script src="https://www.desmos.com/api/v1.6/core.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathlive@0.87.0/dist/mathlive.min.js"></script>
  </body>
</html>
